:root {
    --darkreader-netral-background: #131516;
    --darkreader-newtral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
}


body {
    font-family: 'Arial', sans-serif;
    color: #e8e6e3;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

nav a:hover {
    border-bottom: 2px solid #fff;
}

.task-form-container {
    max-width: 30%;
    margin: 20px auto;
    padding: 20px;
    color: rgb(200, 200, 200);
    background-color: rgb(40, 40, 40, 0.80);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.57)0px 0px 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.task-form {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input, textarea {
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"] {
    width: 50%;
    margin: 10px auto;
    padding: 10px 20px;
    display: block;
    box-shadow: inset 0px 0px 0px 0px #3dc21b;
    background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color: #44c767;
    border-radius: 10px;
    border: 1px solid #18ab29;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;

}

input[type="submit"]:active {
	position:relative;
	top:1px;
}

#modoNoturnoBtn {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #950de3 5%, #590ce8 100%);
	background-color:#950de3;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}

#modoNoturnoBtn:hover {
	background:linear-gradient(to bottom, #590ce8 5%, #950de3 100%);
	background-color:#590ce8;
}
#modoNoturnoBtn:active {
	position:relative;
	top:1px;
}

/* MODO NOTURNO */

body.modo-noturno #modoNoturnoBtn {
    background-color: #555;
    color: #fff;
}

body.modo-noturno {
    background-color: var(--darkreader-netral-background);
    color: var(--darkreader-newtral-text);
}

header.modo-noturno {
    background-color: rgb(38, 42, 43);;
}

nav a.modo-noturno {
    color: #fff;
    border-bottom-color: #fff;
}

.task-form-container.modo-noturno {
    background-color: rgb(40, 40, 40, 0.80);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.57)0px 0px 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

input[type="submit"].modo-noturno {
    background: linear-gradient(to bottom, #3a3a3a 5%, #565656 100%); /* Nova cor de fundo */
    background-color: #3a3a3a;
    border: 1px solid #555; /* Nova cor da borda */
    color: #e0e0e0; /* Nova cor do texto */
    text-shadow: 0px 1px 0px #000000;
    box-shadow: inset 0px 0px 0px 0px #3dc21b, 0px 0px 10px rgba(255, 255, 255, 0.5); /* Novo efeito de sombra */
}

input[type="submit"].modo-noturno:hover {
    background: linear-gradient(to bottom, #505050 5%, #3a3a3a 100%); /* Efeito hover */
    background-color: #505050;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .task-form-container {
        max-width: 80%;
    }

    /* Outros ajustes para dispositivos menores... */
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    /* Estilos específicos para modo paisagem... */
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    /* Estilos específicos para modo retrato... */
}